@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
.container {
  width: 600px;
  height: auto;
  top: 140px;
  left: 532px;
  border-radius: 6px;
  padding-top: 24px;
  padding-right: 16px;
  padding-bottom: 24px;
  padding-left: 16px;
  gap: 40px;
  background-color: #ffffff;
  border: 1px solid red;
}
.garchig {
  font-family: "inter", sans-serif;
  font-weight: 600px;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -2.5%;
  text-align: center;
}
.text_input {
  width: 280px;
  height: 40px;
  opacity: 1;
  border-radius: 6px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  border-width: 1px;
}
.add_style {
  width: 59px;
  height: 40px;
  opacity: 1;
  border-radius: 6px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  gap: 10px;
  background-color: #3c82f6;
  border: none;
}
.tasks-container {
  background-color: #f9fafb;
  margin-top: 20px;
  width: 345px;
  height: 62px;
  border-radius: 6px;
  top: 20px;
  left: 20px;
  gap: 10px;
  padding: 16px;
  font-family: "inter", sans-serif;
}
.task {
  display: flex;
  width: 180px;
  justify-content: space-between;
  margin-bottom: 12px;
}
.container {
  display: flex;
  flex-direction: column;
}
/* .task {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
} */
